<?xml version="1.0" encoding="utf-8"?>
<Media Key="52ad1961-d1ec-412b-a0b4-fe288d522737" Alias="Aaron-Lambert.svg" Level="2">
  <Info>
    <Parent Key="0cf1548a-c534-49cf-9fc3-019336ccb85e">Team Members</Parent>
    <Path>/TeamMembers/AaronLambertsvg</Path>
    <Trashed>false</Trashed>
    <ContentType>umbracoMediaVectorGraphics</ContentType>
    <CreateDate>2025-11-03T14:32:32</CreateDate>
    <NodeName Default="Aaron-Lambert.svg" />
    <SortOrder>6</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[/media/sosa5mhx/aaron-lambert.svg]]></Value>
    </umbracoFile>
  </Properties>
</Media>