<?xml version="1.0" encoding="utf-8"?>
<Media Key="468396b3-46e1-4e8b-b625-a1f0bbb3e820" Alias="AJ-Carter.svg" Level="2">
  <Info>
    <Parent Key="0cf1548a-c534-49cf-9fc3-019336ccb85e">Team Members</Parent>
    <Path>/TeamMembers/AJCartersvg</Path>
    <Trashed>false</Trashed>
    <ContentType>umbracoMediaVectorGraphics</ContentType>
    <CreateDate>2025-11-03T14:32:32</CreateDate>
    <NodeName Default="AJ-Carter.svg" />
    <SortOrder>5</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[/media/ievddjh0/aj-carter.svg]]></Value>
    </umbracoFile>
  </Properties>
</Media>