<?xml version="1.0" encoding="utf-8"?>
<Media Key="0e74b007-5520-4f01-80b9-8e17e57b7d44" Alias="assuranceandaudits.svg" Level="2">
  <Info>
    <Parent Key="1469d2f4-eb98-4fd9-855a-16f0e1bd7920">Services Thumbnails</Parent>
    <Path>/ServicesThumbnails/assuranceandauditssvg</Path>
    <Trashed>false</Trashed>
    <ContentType>umbracoMediaVectorGraphics</ContentType>
    <CreateDate>2025-11-06T13:03:12</CreateDate>
    <NodeName Default="assuranceandaudits.svg" />
    <SortOrder>1</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[/media/4ugnn1b1/assuranceandaudits.svg]]></Value>
    </umbracoFile>
  </Properties>
</Media>