<?xml version="1.0" encoding="utf-8"?>
<Media Key="7bcc90d3-932f-403b-8339-61edd20cee58" Alias="bondsandcommodities.svg" Level="2">
  <Info>
    <Parent Key="1469d2f4-eb98-4fd9-855a-16f0e1bd7920">Services Thumbnails</Parent>
    <Path>/ServicesThumbnails/bondsandcommoditiessvg</Path>
    <Trashed>false</Trashed>
    <ContentType>umbracoMediaVectorGraphics</ContentType>
    <CreateDate>2025-11-06T13:03:06</CreateDate>
    <NodeName Default="bondsandcommodities.svg" />
    <SortOrder>0</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[/media/eewh3gju/bondsandcommodities.svg]]></Value>
    </umbracoFile>
  </Properties>
</Media>