<?xml version="1.0" encoding="utf-8"?>
<Media Key="83ad0cee-984b-461e-a884-a94fccbb3442" Alias="Brandon-Newton.svg" Level="2">
  <Info>
    <Parent Key="0cf1548a-c534-49cf-9fc3-019336ccb85e">Team Members</Parent>
    <Path>/TeamMembers/BrandonNewtonsvg</Path>
    <Trashed>false</Trashed>
    <ContentType>umbracoMediaVectorGraphics</ContentType>
    <CreateDate>2025-11-03T14:32:32</CreateDate>
    <NodeName Default="Brandon-Newton.svg" />
    <SortOrder>2</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[/media/dsyb4ykq/brandon-newton.svg]]></Value>
    </umbracoFile>
  </Properties>
</Media>