<?xml version="1.0" encoding="utf-8"?>
<Media Key="7dc5ebc0-d180-4bde-8391-5196d80f240e" Alias="coworkers.svg (1)" Level="1">
  <Info>
    <Parent Key="00000000-0000-0000-0000-000000000000"></Parent>
    <Path>/coworkerssvg1</Path>
    <Trashed>false</Trashed>
    <ContentType>umbracoMediaVectorGraphics</ContentType>
    <CreateDate>2025-11-12T14:35:36</CreateDate>
    <NodeName Default="coworkers.svg (1)" />
    <SortOrder>9</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[/media/gjlgph21/coworkers.svg]]></Value>
    </umbracoFile>
  </Properties>
</Media>