<?xml version="1.0" encoding="utf-8"?>
<Media Key="506f4c73-23f2-4b98-9c85-14df23f5989b" Alias="coworkers.svg" Level="1">
  <Info>
    <Parent Key="00000000-0000-0000-0000-000000000000"></Parent>
    <Path>/coworkerssvg</Path>
    <Trashed>false</Trashed>
    <ContentType>umbracoMediaVectorGraphics</ContentType>
    <CreateDate>2025-11-12T14:35:34</CreateDate>
    <NodeName Default="coworkers.svg" />
    <SortOrder>8</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[/media/qhyn1mxj/coworkers.svg]]></Value>
    </umbracoFile>
  </Properties>
</Media>