<?xml version="1.0" encoding="utf-8"?>
<Media Key="560c8892-71bc-4639-b0ff-f3913665546d" Alias="dot-mapgray.svg" Level="1">
  <Info>
    <Parent Key="00000000-0000-0000-0000-000000000000"></Parent>
    <Path>/dotMapgraysvg</Path>
    <Trashed>false</Trashed>
    <ContentType>umbracoMediaVectorGraphics</ContentType>
    <CreateDate>2025-11-12T14:39:13</CreateDate>
    <NodeName Default="dot-mapgray.svg" />
    <SortOrder>10</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[/media/ma0l3nfh/dot-mapgray.svg]]></Value>
    </umbracoFile>
  </Properties>
</Media>