<?xml version="1.0" encoding="utf-8"?>
<Media Key="63b8662b-20f1-4bf8-86b7-4e2c0734b8bd" Alias="dot-map-gray.svg" Level="1">
  <Info>
    <Parent Key="00000000-0000-0000-0000-000000000000"></Parent>
    <Path>/dotMapGraysvg</Path>
    <Trashed>false</Trashed>
    <ContentType>umbracoMediaVectorGraphics</ContentType>
    <CreateDate>2025-11-12T14:35:21</CreateDate>
    <NodeName Default="dot-map-gray.svg" />
    <SortOrder>7</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[/media/1hnbvapk/dot-map-gray.svg]]></Value>
    </umbracoFile>
  </Properties>
</Media>