<?xml version="1.0" encoding="utf-8"?>
<Media Key="d80e922a-14a2-453c-937e-f4a801a2444f" Alias="dotmaplight.svg" Level="1">
  <Info>
    <Parent Key="00000000-0000-0000-0000-000000000000"></Parent>
    <Path>/dotmaplightsvg</Path>
    <Trashed>false</Trashed>
    <ContentType>umbracoMediaVectorGraphics</ContentType>
    <CreateDate>2025-11-13T15:02:45</CreateDate>
    <NodeName Default="dotmaplight.svg" />
    <SortOrder>15</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[/media/1axlyovz/dotmaplight.svg]]></Value>
    </umbracoFile>
  </Properties>
</Media>