<?xml version="1.0" encoding="utf-8"?>
<Media Key="cd42a704-5386-49bc-89e8-3af5ad8f372d" Alias="dotmapgray.svg" Level="1">
  <Info>
    <Parent Key="00000000-0000-0000-0000-000000000000"></Parent>
    <Path>/dotmapgraysvg</Path>
    <Trashed>false</Trashed>
    <ContentType>umbracoMediaVectorGraphics</ContentType>
    <CreateDate>2025-11-12T15:16:41</CreateDate>
    <NodeName Default="dotmapgray.svg" />
    <SortOrder>13</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[/media/4ynoal23/dotmapgray.svg]]></Value>
    </umbracoFile>
  </Properties>
</Media>