<?xml version="1.0" encoding="utf-8"?>
<Media Key="caa8eb5e-6d64-4681-89e4-328e705b9e88" Alias="Dotts.svg" Level="1">
  <Info>
    <Parent Key="00000000-0000-0000-0000-000000000000"></Parent>
    <Path>/Dottssvg</Path>
    <Trashed>false</Trashed>
    <ContentType>umbracoMediaVectorGraphics</ContentType>
    <CreateDate>2025-11-13T19:15:42</CreateDate>
    <NodeName Default="Dotts.svg" />
    <SortOrder>26</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[/media/vrlaukd5/dotts.svg]]></Value>
    </umbracoFile>
  </Properties>
</Media>