<?xml version="1.0" encoding="utf-8"?>
<Media Key="a1121d21-f1a6-44ca-a93f-15ac920cf343" Alias="financialadvisor.svg" Level="2">
  <Info>
    <Parent Key="1469d2f4-eb98-4fd9-855a-16f0e1bd7920">Services Thumbnails</Parent>
    <Path>/ServicesThumbnails/financialadvisorsvg</Path>
    <Trashed>false</Trashed>
    <ContentType>umbracoMediaVectorGraphics</ContentType>
    <CreateDate>2025-11-06T13:03:35</CreateDate>
    <NodeName Default="financialadvisor.svg" />
    <SortOrder>2</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[/media/0oqlaq33/financialadvisor.svg]]></Value>
    </umbracoFile>
  </Properties>
</Media>