<?xml version="1.0" encoding="utf-8"?>
<Media Key="e122490e-f7ca-4c19-b19b-84bc64cde826" Alias="GrayBackground.svg" Level="1">
  <Info>
    <Parent Key="00000000-0000-0000-0000-000000000000"></Parent>
    <Path>/GrayBackgroundsvg</Path>
    <Trashed>false</Trashed>
    <ContentType>umbracoMediaVectorGraphics</ContentType>
    <CreateDate>2025-11-15T17:21:11</CreateDate>
    <NodeName Default="GrayBackground.svg" />
    <SortOrder>31</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[/media/5t0iaa4r/graybackground.svg]]></Value>
    </umbracoFile>
  </Properties>
</Media>