<?xml version="1.0" encoding="utf-8"?>
<Media Key="c5616abb-65d1-4a6f-ba75-23ed8d2b3cdd" Alias="Hero-Home.png" Level="1">
  <Info>
    <Parent Key="00000000-0000-0000-0000-000000000000"></Parent>
    <Path>/HeroHomepng</Path>
    <Trashed>false</Trashed>
    <ContentType>Image</ContentType>
    <CreateDate>2025-10-28T17:16:05</CreateDate>
    <NodeName Default="Hero-Home.png" />
    <SortOrder>0</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[{
  "focalPoint": null,
  "crops": null,
  "src": "/media/gsqco23y/hero-home.png"
}]]></Value>
    </umbracoFile>
  </Properties>
</Media>