<?xml version="1.0" encoding="utf-8"?>
<Media Key="ba957e44-5677-4da0-b403-faa696d1e937" Alias="Icon-address.svg" Level="1">
  <Info>
    <Parent Key="00000000-0000-0000-0000-000000000000"></Parent>
    <Path>/IconAddresssvg</Path>
    <Trashed>false</Trashed>
    <ContentType>umbracoMediaVectorGraphics</ContentType>
    <CreateDate>2025-11-13T19:16:07</CreateDate>
    <NodeName Default="Icon-address.svg" />
    <SortOrder>27</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[/media/w1bdowdm/icon-address.svg]]></Value>
    </umbracoFile>
  </Properties>
</Media>