<?xml version="1.0" encoding="utf-8"?>
<Media Key="270faa7b-cfa9-4f16-9457-6ed3f89bf3d3" Alias="Icon-email.svg" Level="1">
  <Info>
    <Parent Key="00000000-0000-0000-0000-000000000000"></Parent>
    <Path>/IconEmailsvg</Path>
    <Trashed>false</Trashed>
    <ContentType>umbracoMediaVectorGraphics</ContentType>
    <CreateDate>2025-11-13T19:17:00</CreateDate>
    <NodeName Default="Icon-email.svg" />
    <SortOrder>29</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[/media/rell1rns/icon-email.svg]]></Value>
    </umbracoFile>
  </Properties>
</Media>