<?xml version="1.0" encoding="utf-8"?>
<Media Key="a103e0f4-73a1-4f5c-9bdf-cbeeeb17ee3e" Alias="Icon-phone.svg" Level="1">
  <Info>
    <Parent Key="00000000-0000-0000-0000-000000000000"></Parent>
    <Path>/IconPhonesvg</Path>
    <Trashed>false</Trashed>
    <ContentType>umbracoMediaVectorGraphics</ContentType>
    <CreateDate>2025-11-13T19:16:36</CreateDate>
    <NodeName Default="Icon-phone.svg" />
    <SortOrder>28</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[/media/azolcq30/icon-phone.svg]]></Value>
    </umbracoFile>
  </Properties>
</Media>