<?xml version="1.0" encoding="utf-8"?>
<Media Key="92b79b37-0197-4857-ace6-d4caa248907c" Alias="Kevingardner.svg" Level="1">
  <Info>
    <Parent Key="00000000-0000-0000-0000-000000000000"></Parent>
    <Path>/Kevingardnersvg</Path>
    <Trashed>false</Trashed>
    <ContentType>umbracoMediaVectorGraphics</ContentType>
    <CreateDate>2025-11-13T18:33:49</CreateDate>
    <NodeName Default="Kevingardner.svg" />
    <SortOrder>23</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[/media/yutbk2em/kevingardner.svg]]></Value>
    </umbracoFile>
  </Properties>
</Media>