<?xml version="1.0" encoding="utf-8"?>
<Media Key="c2dca003-a211-4e09-a6bf-1584bb656c7a" Alias="Kevin-Gardner.svg" Level="2">
  <Info>
    <Parent Key="0cf1548a-c534-49cf-9fc3-019336ccb85e">Team Members</Parent>
    <Path>/TeamMembers/KevinGardnersvg</Path>
    <Trashed>false</Trashed>
    <ContentType>umbracoMediaVectorGraphics</ContentType>
    <CreateDate>2025-11-03T14:32:31</CreateDate>
    <NodeName Default="Kevin-Gardner.svg" />
    <SortOrder>0</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[/media/4eoh2iak/kevin-gardner.svg]]></Value>
    </umbracoFile>
  </Properties>
</Media>