<?xml version="1.0" encoding="utf-8"?>
<Media Key="d611976a-9d8d-47bc-8771-925b9d23d634" Alias="Map.svg" Level="1">
  <Info>
    <Parent Key="00000000-0000-0000-0000-000000000000"></Parent>
    <Path>/Mapsvg</Path>
    <Trashed>false</Trashed>
    <ContentType>umbracoMediaVectorGraphics</ContentType>
    <CreateDate>2025-11-14T11:41:23</CreateDate>
    <NodeName Default="Map.svg" />
    <SortOrder>30</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[/media/tavlgnew/map.svg]]></Value>
    </umbracoFile>
  </Properties>
</Media>