<?xml version="1.0" encoding="utf-8"?>
<Media Key="bbf908a8-7204-4132-9b5e-0eeb7417e446" Alias="Meeting-page1.svg" Level="1">
  <Info>
    <Parent Key="00000000-0000-0000-0000-000000000000"></Parent>
    <Path>/MeetingPage1svg</Path>
    <Trashed>false</Trashed>
    <ContentType>umbracoMediaVectorGraphics</ContentType>
    <CreateDate>2025-11-13T14:46:20</CreateDate>
    <NodeName Default="Meeting-page1.svg" />
    <SortOrder>14</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[/media/lk0fwwi5/meeting-page1.svg]]></Value>
    </umbracoFile>
  </Properties>
</Media>