<?xml version="1.0" encoding="utf-8"?>
<Media Key="e8c45170-8239-4c88-94d7-85612e7b307c" Alias="Miranda-Dayton.svg" Level="2">
  <Info>
    <Parent Key="0cf1548a-c534-49cf-9fc3-019336ccb85e">Team Members</Parent>
    <Path>/TeamMembers/MirandaDaytonsvg</Path>
    <Trashed>false</Trashed>
    <ContentType>umbracoMediaVectorGraphics</ContentType>
    <CreateDate>2025-11-03T14:32:32</CreateDate>
    <NodeName Default="Miranda-Dayton.svg" />
    <SortOrder>3</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[/media/qlwgmcrc/miranda-dayton.svg]]></Value>
    </umbracoFile>
  </Properties>
</Media>