<?xml version="1.0" encoding="utf-8"?>
<Media Key="230e5cd1-3288-4865-b46d-a0bdbac60ddd" Alias="Partners3.svg" Level="1">
  <Info>
    <Parent Key="00000000-0000-0000-0000-000000000000"></Parent>
    <Path>/Partners3svg</Path>
    <Trashed>false</Trashed>
    <ContentType>umbracoMediaVectorGraphics</ContentType>
    <CreateDate>2025-11-13T16:53:03</CreateDate>
    <NodeName Default="Partners3.svg" />
    <SortOrder>16</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[/media/epqlzqmt/partners3.svg]]></Value>
    </umbracoFile>
  </Properties>
</Media>