<?xml version="1.0" encoding="utf-8"?>
<Media Key="4a97c35e-e217-41b4-8e97-7dc00bef10e7" Alias="Partners4.svg" Level="1">
  <Info>
    <Parent Key="00000000-0000-0000-0000-000000000000"></Parent>
    <Path>/Partners4svg</Path>
    <Trashed>false</Trashed>
    <ContentType>umbracoMediaVectorGraphics</ContentType>
    <CreateDate>2025-11-13T16:53:03</CreateDate>
    <NodeName Default="Partners4.svg" />
    <SortOrder>19</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[/media/vr5dlkam/partners4.svg]]></Value>
    </umbracoFile>
  </Properties>
</Media>