<?xml version="1.0" encoding="utf-8"?>
<Media Key="d4614956-79bb-4543-a1a1-8a75bb74d44b" Alias="Partners6.svg" Level="1">
  <Info>
    <Parent Key="00000000-0000-0000-0000-000000000000"></Parent>
    <Path>/Partners6svg</Path>
    <Trashed>false</Trashed>
    <ContentType>umbracoMediaVectorGraphics</ContentType>
    <CreateDate>2025-11-13T16:53:03</CreateDate>
    <NodeName Default="Partners6.svg" />
    <SortOrder>20</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[/media/ut0mgnva/partners6.svg]]></Value>
    </umbracoFile>
  </Properties>
</Media>