<?xml version="1.0" encoding="utf-8"?>
<Media Key="4aa972a2-2676-4428-8f5a-66436aa1b72f" Alias="Ratingstars.svg" Level="1">
  <Info>
    <Parent Key="00000000-0000-0000-0000-000000000000"></Parent>
    <Path>/Ratingstarssvg</Path>
    <Trashed>false</Trashed>
    <ContentType>umbracoMediaVectorGraphics</ContentType>
    <CreateDate>2025-11-13T18:35:16</CreateDate>
    <NodeName Default="Ratingstars.svg" />
    <SortOrder>24</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[/media/kdhbxkdn/ratingstars.svg]]></Value>
    </umbracoFile>
  </Properties>
</Media>