<?xml version="1.0" encoding="utf-8"?>
<Media Key="32244499-b8b5-4c71-adcf-fec5549d08a5" Alias="Risk-bild2.svg" Level="1">
  <Info>
    <Parent Key="00000000-0000-0000-0000-000000000000"></Parent>
    <Path>/RiskBild2svg</Path>
    <Trashed>false</Trashed>
    <ContentType>umbracoMediaVectorGraphics</ContentType>
    <CreateDate>2025-11-11T14:21:14</CreateDate>
    <NodeName Default="Risk-bild2.svg" />
    <SortOrder>6</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[/media/np2jnufo/risk-bild2.svg]]></Value>
    </umbracoFile>
  </Properties>
</Media>