<?xml version="1.0" encoding="utf-8"?>
<Media Key="847b6866-3792-49e0-a491-ba344ad16b6f" Alias="riskmanagement.svg" Level="2">
  <Info>
    <Parent Key="1469d2f4-eb98-4fd9-855a-16f0e1bd7920">Services Thumbnails</Parent>
    <Path>/ServicesThumbnails/riskmanagementsvg</Path>
    <Trashed>false</Trashed>
    <ContentType>umbracoMediaVectorGraphics</ContentType>
    <CreateDate>2025-11-06T13:03:45</CreateDate>
    <NodeName Default="riskmanagement.svg" />
    <SortOrder>3</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[/media/stknszuj/riskmanagement.svg]]></Value>
    </umbracoFile>
  </Properties>
</Media>