<?xml version="1.0" encoding="utf-8"?>
<Media Key="6de9aeda-f3ed-4be1-aef3-b01139702a83" Alias="Smiliebrillo.svg" Level="1">
  <Info>
    <Parent Key="00000000-0000-0000-0000-000000000000"></Parent>
    <Path>/Smiliebrillosvg</Path>
    <Trashed>false</Trashed>
    <ContentType>umbracoMediaVectorGraphics</ContentType>
    <CreateDate>2025-11-13T19:15:29</CreateDate>
    <NodeName Default="Smiliebrillo.svg" />
    <SortOrder>25</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[/media/fajfxd5w/smiliebrillo.svg]]></Value>
    </umbracoFile>
  </Properties>
</Media>