<?xml version="1.0" encoding="utf-8"?>
<Media Key="4f18b628-c065-4389-af68-5d937e17b965" Alias="staticadvisors.svg" Level="2">
  <Info>
    <Parent Key="1469d2f4-eb98-4fd9-855a-16f0e1bd7920">Services Thumbnails</Parent>
    <Path>/ServicesThumbnails/staticadvisorssvg</Path>
    <Trashed>false</Trashed>
    <ContentType>umbracoMediaVectorGraphics</ContentType>
    <CreateDate>2025-11-06T13:03:51</CreateDate>
    <NodeName Default="staticadvisors.svg" />
    <SortOrder>4</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[/media/1iflvll4/staticadvisors.svg]]></Value>
    </umbracoFile>
  </Properties>
</Media>