<?xml version="1.0" encoding="utf-8"?>
<Media Key="d54a0b68-9bae-4504-84cc-996cd19b47eb" Alias="Tina-Signature.svg" Level="1">
  <Info>
    <Parent Key="00000000-0000-0000-0000-000000000000"></Parent>
    <Path>/TinaSignaturesvg</Path>
    <Trashed>false</Trashed>
    <ContentType>umbracoMediaVectorGraphics</ContentType>
    <CreateDate>2025-11-10T16:21:12</CreateDate>
    <NodeName Default="Tina-Signature.svg" />
    <SortOrder>5</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[/media/tk1oqn3v/tina-signature.svg]]></Value>
    </umbracoFile>
  </Properties>
</Media>