<?xml version="1.0" encoding="utf-8"?>
<Media Key="774869cf-7c23-422a-8af7-075881e82ee0" Alias="TinaFoxAbout.svg" Level="1">
  <Info>
    <Parent Key="00000000-0000-0000-0000-000000000000"></Parent>
    <Path>/TinaFoxAboutsvg</Path>
    <Trashed>false</Trashed>
    <ContentType>umbracoMediaVectorGraphics</ContentType>
    <CreateDate>2025-11-13T17:41:39</CreateDate>
    <NodeName Default="TinaFoxAbout.svg" />
    <SortOrder>22</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[/media/hxkovfjy/tinafoxabout.svg]]></Value>
    </umbracoFile>
  </Properties>
</Media>