@using Umbraco.Cms.Web.Common.PublishedModels;
@inherits Umbraco.Cms.Web.Common.Views.UmbracoViewPage<HomePage>

    <section>
        <div>
            <div>
                <h2></h2>
                <div></div>
            </div>
            <div>
                <div>
                    <a>
                        <h4>Risk Management</h4>
                        <img />
                    </a>
                </div>
            </div>
        </div>
    </section>