<?xml version="1.0" encoding="utf-8"?>
<ContentType Key="263c4efe-85fd-41e5-8c41-b68d4a3faa2d" Alias="contactPage" Level="2">
  <Info>
    <Name>Contact Page</Name>
    <Icon>icon-message-open color-light-blue</Icon>
    <Thumbnail>folder.png</Thumbnail>
    <Description></Description>
    <AllowAtRoot>False</AllowAtRoot>
    <ListView>00000000-0000-0000-0000-000000000000</ListView>
    <Variations>Nothing</Variations>
    <IsElement>false</IsElement>
    <HistoryCleanup>
      <PreventCleanup>False</PreventCleanup>
      <KeepAllVersionsNewerThanDays></KeepAllVersionsNewerThanDays>
      <KeepLatestVersionPerDayForDays></KeepLatestVersionPerDayForDays>
    </HistoryCleanup>
    <Folder>Pages</Folder>
    <Compositions>
      <Composition Key="1e8297a6-54f3-4c89-956e-7fd2bd2ddfe3">pageHeader</Composition>
    </Compositions>
    <DefaultTemplate>ContactPage</DefaultTemplate>
    <AllowedTemplates>
      <Template Key="38ff3434-581b-4266-a52f-7cef770babd0">ContactPage</Template>
    </AllowedTemplates>
  </Info>
  <Structure />
  <GenericProperties>
    <GenericProperty>
      <Key>5150762e-e511-41d7-a1b2-c045555a59b7</Key>
      <Name>Banner Title</Name>
      <Alias>bannerTitle</Alias>
      <Definition>0cc0eba1-9960-42c9-bf9b-60e150b429ae</Definition>
      <Type>Umbraco.TextBox</Type>
      <Mandatory>false</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[]]></Description>
      <SortOrder>1</SortOrder>
      <Tab Alias="content">Content</Tab>
      <Variations>Nothing</Variations>
      <MandatoryMessage></MandatoryMessage>
      <ValidationRegExpMessage></ValidationRegExpMessage>
      <LabelOnTop>false</LabelOnTop>
    </GenericProperty>
  </GenericProperties>
  <Tabs>
    <Tab>
      <Key>4ac891e1-32e0-41fb-8394-9d3304672824</Key>
      <Caption>Content</Caption>
      <Alias>content</Alias>
      <Type>Group</Type>
      <SortOrder>0</SortOrder>
    </Tab>
  </Tabs>
</ContentType>