<?xml version="1.0" encoding="utf-8"?>
<Content Key="e780cf13-d719-4641-8624-57866a35f46e" Alias="2025-11-11 12:34 - Jannika" Level="2">
  <Info>
    <Parent Key="3be6099e-0f75-402d-8524-ffa206f26c7d">Form Submissions</Parent>
    <Path>/FormSubmissions/Jannika</Path>
    <Trashed>false</Trashed>
    <ContentType>callbackRequest</ContentType>
    <CreateDate>2025-11-11T12:34:38</CreateDate>
    <NodeName Default="2025-11-11 12:34 - Jannika" />
    <SortOrder>0</SortOrder>
    <Published Default="false" />
    <Schedule />
    <Template />
  </Info>
  <Properties>
    <callbackRequestEmail>
      <Value><![CDATA[jannika@domain.com]]></Value>
    </callbackRequestEmail>
    <callbackRequestName>
      <Value><![CDATA[Jannika]]></Value>
    </callbackRequestName>
    <callbackRequestOption>
      <Value><![CDATA[Financial consulting]]></Value>
    </callbackRequestOption>
    <callbackRequestPhone>
      <Value><![CDATA[0761018665]]></Value>
    </callbackRequestPhone>
  </Properties>
</Content>