<?xml version="1.0" encoding="utf-8"?>
<Content Key="dad93deb-0856-4222-b59e-17f84c498f46" Alias="2025-11-11 12:48 - Jannika Gustafsson" Level="2">
  <Info>
    <Parent Key="3be6099e-0f75-402d-8524-ffa206f26c7d">Form Submissions</Parent>
    <Path>/FormSubmissions/JannikaGustafsson</Path>
    <Trashed>false</Trashed>
    <ContentType>callbackRequest</ContentType>
    <CreateDate>2025-11-11T12:48:20</CreateDate>
    <NodeName Default="2025-11-11 12:48 - Jannika Gustafsson" />
    <SortOrder>1</SortOrder>
    <Published Default="false" />
    <Schedule />
    <Template />
  </Info>
  <Properties>
    <callbackRequestEmail>
      <Value><![CDATA[jannikagustafsson@gmail.com]]></Value>
    </callbackRequestEmail>
    <callbackRequestName>
      <Value><![CDATA[Jannika Gustafsson]]></Value>
    </callbackRequestName>
    <callbackRequestOption>
      <Value><![CDATA[Financial consulting]]></Value>
    </callbackRequestOption>
    <callbackRequestPhone>
      <Value><![CDATA[0761018665]]></Value>
    </callbackRequestPhone>
  </Properties>
</Content>