<?xml version="1.0" encoding="utf-8"?>
<Content Key="b4c81c47-ce3b-478a-ae02-9113aa993156" Alias="2025-11-11 12:50 - test" Level="2">
  <Info>
    <Parent Key="3be6099e-0f75-402d-8524-ffa206f26c7d">Form Submissions</Parent>
    <Path>/FormSubmissions/test</Path>
    <Trashed>false</Trashed>
    <ContentType>callbackRequest</ContentType>
    <CreateDate>2025-11-11T12:50:23</CreateDate>
    <NodeName Default="2025-11-11 12:50 - test" />
    <SortOrder>2</SortOrder>
    <Published Default="false" />
    <Schedule />
    <Template />
  </Info>
  <Properties>
    <callbackRequestEmail>
      <Value><![CDATA[jannikagustafsson@gmail.com]]></Value>
    </callbackRequestEmail>
    <callbackRequestName>
      <Value><![CDATA[test]]></Value>
    </callbackRequestName>
    <callbackRequestOption>
      <Value><![CDATA[Financial consulting]]></Value>
    </callbackRequestOption>
    <callbackRequestPhone>
      <Value><![CDATA[0761018665]]></Value>
    </callbackRequestPhone>
  </Properties>
</Content>