<?xml version="1.0" encoding="utf-8"?>
<Content Key="61f6ebd5-cd93-45f5-9b9e-2f97bcbcdb0d" Alias="About" Level="2">
  <Info>
    <Parent Key="7a714f3f-0e6b-4c96-bdb2-646cfd14b80b">Home</Parent>
    <Path>/Home/About</Path>
    <Trashed>false</Trashed>
    <ContentType>aboutPage</ContentType>
    <CreateDate>2025-11-03T14:36:35</CreateDate>
    <NodeName Default="About" />
    <SortOrder>2</SortOrder>
    <Published Default="true" />
    <Schedule />
    <Template Key="bb76e67d-2683-445a-b62c-8fc3bdca44ee">AboutPage</Template>
  </Info>
  <Properties>
    <sections>
      <Value><![CDATA[{
  "contentData": [
    {
      "contentTypeKey": "7bf47a77-83f7-4251-af3e-3cea20646a3f",
      "key": "ae62f898-093e-423a-bc82-dd2bef86d54a",
      "udi": null,
      "values": [
        {
          "alias": "teamTitle",
          "culture": null,
          "editorAlias": null,
          "segment": null,
          "value": {
            "blocks": {
              "contentData": [],
              "settingsData": [],
              "expose": [],
              "Layout": {}
            },
            "markup": "\u003Ch3 style=\u0022text-align: center\u0022\u003E\u003Cspan style=\u0022white-space: pre-wrap;\u0022\u003EA team of professionals\u003C/span\u003E\u003Cbr\u003E\u003Cspan style=\u0022white-space: pre-wrap;\u0022\u003Ewith years of experience\u003C/span\u003E\u003C/h3\u003E\u003Cp\u003E\u003C/p\u003E"
          }
        },
        {
          "alias": "teamLabel",
          "culture": null,
          "editorAlias": null,
          "segment": null,
          "value": "Our Expert"
        },
        {
          "alias": "teamMemberList",
          "culture": null,
          "editorAlias": null,
          "segment": null,
          "value": {
            "contentData": [
              {
                "contentTypeKey": "9f5aaab6-12fc-4fbd-8e2d-dc5a921770fd",
                "key": "4b603db3-1321-487c-a21e-c95d2ee68915",
                "udi": null,
                "values": [
                  {
                    "alias": "temaMemberName",
                    "culture": null,
                    "editorAlias": null,
                    "segment": null,
                    "value": "Brandon Newton"
                  },
                  {
                    "alias": "teamMemberRole",
                    "culture": null,
                    "editorAlias": null,
                    "segment": null,
                    "value": "Financial Advisor at Onatrix"
                  },
                  {
                    "alias": "teamMemberImage",
                    "culture": null,
                    "editorAlias": null,
                    "segment": null,
                    "value": [
                      {
                        "key": "62f7be93-e36a-4bdc-a7c2-28645c01cde6",
                        "mediaKey": "83ad0cee-984b-461e-a884-a94fccbb3442",
                        "mediaTypeAlias": "umbracoMediaVectorGraphics",
                        "crops": [],
                        "focalPoint": null
                      }
                    ]
                  }
                ]
              },
              {
                "contentTypeKey": "9f5aaab6-12fc-4fbd-8e2d-dc5a921770fd",
                "key": "86e2d509-b002-41b3-8347-f6d703ae8cc6",
                "udi": null,
                "values": [
                  {
                    "alias": "teamMemberImage",
                    "culture": null,
                    "editorAlias": null,
                    "segment": null,
                    "value": [
                      {
                        "key": "2dea7a4a-51c4-4094-9d6c-e3b20bd42f86",
                        "mediaKey": "c2dca003-a211-4e09-a6bf-1584bb656c7a",
                        "mediaTypeAlias": "umbracoMediaVectorGraphics",
                        "crops": [],
                        "focalPoint": null
                      }
                    ]
                  },
                  {
                    "alias": "temaMemberName",
                    "culture": null,
                    "editorAlias": null,
                    "segment": null,
                    "value": "Kevin Gardner"
                  },
                  {
                    "alias": "teamMemberRole",
                    "culture": null,
                    "editorAlias": null,
                    "segment": null,
                    "value": "Banking Advisor at Swedbank"
                  }
                ]
              },
              {
                "contentTypeKey": "9f5aaab6-12fc-4fbd-8e2d-dc5a921770fd",
                "key": "bcb741f0-2dc8-4c79-a113-4c71e6a2cb73",
                "udi": null,
                "values": [
                  {
                    "alias": "teamMemberImage",
                    "culture": null,
                    "editorAlias": null,
                    "segment": null,
                    "value": [
                      {
                        "key": "77a08404-fe9d-474f-8688-bba01f614296",
                        "mediaKey": "86becdfe-af52-446b-b2b9-133908f648df",
                        "mediaTypeAlias": "umbracoMediaVectorGraphics",
                        "crops": [],
                        "focalPoint": null
                      }
                    ]
                  },
                  {
                    "alias": "temaMemberName",
                    "culture": null,
                    "editorAlias": null,
                    "segment": null,
                    "value": "Brandon Kerr"
                  },
                  {
                    "alias": "teamMemberRole",
                    "culture": null,
                    "editorAlias": null,
                    "segment": null,
                    "value": "CFO \u0026 Co-Founderat Onatrix"
                  }
                ]
              },
              {
                "contentTypeKey": "9f5aaab6-12fc-4fbd-8e2d-dc5a921770fd",
                "key": "08ca1d44-fba0-4894-8a51-26af11c45afe",
                "udi": null,
                "values": [
                  {
                    "alias": "teamMemberImage",
                    "culture": null,
                    "editorAlias": null,
                    "segment": null,
                    "value": [
                      {
                        "key": "7f2272d2-768c-4028-8d53-6e4336f7991a",
                        "mediaKey": "e8c45170-8239-4c88-94d7-85612e7b307c",
                        "mediaTypeAlias": "umbracoMediaVectorGraphics",
                        "crops": [],
                        "focalPoint": null
                      }
                    ]
                  },
                  {
                    "alias": "temaMemberName",
                    "culture": null,
                    "editorAlias": null,
                    "segment": null,
                    "value": "Miranda Dayton"
                  },
                  {
                    "alias": "teamMemberRole",
                    "culture": null,
                    "editorAlias": null,
                    "segment": null,
                    "value": "Head of HR at Onatrix"
                  }
                ]
              },
              {
                "contentTypeKey": "9f5aaab6-12fc-4fbd-8e2d-dc5a921770fd",
                "key": "f08efc91-c43c-4478-bb44-0ff59f6857bd",
                "udi": null,
                "values": [
                  {
                    "alias": "teamMemberImage",
                    "culture": null,
                    "editorAlias": null,
                    "segment": null,
                    "value": [
                      {
                        "key": "d51c47d9-51c4-4443-a82b-17487d0443c6",
                        "mediaKey": "5f864aa8-01e5-448c-ab5c-fb6cb0a33699",
                        "mediaTypeAlias": "umbracoMediaVectorGraphics",
                        "crops": [],
                        "focalPoint": null
                      }
                    ]
                  },
                  {
                    "alias": "temaMemberName",
                    "culture": null,
                    "editorAlias": null,
                    "segment": null,
                    "value": "Tina Fox"
                  },
                  {
                    "alias": "teamMemberRole",
                    "culture": null,
                    "editorAlias": null,
                    "segment": null,
                    "value": "CEO \u0026 Founder at Onatrix"
                  }
                ]
              },
              {
                "contentTypeKey": "9f5aaab6-12fc-4fbd-8e2d-dc5a921770fd",
                "key": "3a0a6da0-2cc6-448a-96ba-b572cfee3991",
                "udi": null,
                "values": [
                  {
                    "alias": "teamMemberImage",
                    "culture": null,
                    "editorAlias": null,
                    "segment": null,
                    "value": [
                      {
                        "key": "ed0068dc-c6cd-4fdf-b409-a8cbf85b67af",
                        "mediaKey": "468396b3-46e1-4e8b-b625-a1f0bbb3e820",
                        "mediaTypeAlias": "umbracoMediaVectorGraphics",
                        "crops": [],
                        "focalPoint": null
                      }
                    ]
                  },
                  {
                    "alias": "temaMemberName",
                    "culture": null,
                    "editorAlias": null,
                    "segment": null,
                    "value": "AJ Carter"
                  },
                  {
                    "alias": "teamMemberRole",
                    "culture": null,
                    "editorAlias": null,
                    "segment": null,
                    "value": "Financial Advisor at Onatrix"
                  }
                ]
              },
              {
                "contentTypeKey": "9f5aaab6-12fc-4fbd-8e2d-dc5a921770fd",
                "key": "1b7f321d-3833-461e-867b-86c213da1bba",
                "udi": null,
                "values": [
                  {
                    "alias": "teamMemberImage",
                    "culture": null,
                    "editorAlias": null,
                    "segment": null,
                    "value": [
                      {
                        "key": "0e976e5f-b663-44ac-9b58-2a37a43cafe9",
                        "mediaKey": "52ad1961-d1ec-412b-a0b4-fe288d522737",
                        "mediaTypeAlias": "umbracoMediaVectorGraphics",
                        "crops": [],
                        "focalPoint": null
                      }
                    ]
                  },
                  {
                    "alias": "temaMemberName",
                    "culture": null,
                    "editorAlias": null,
                    "segment": null,
                    "value": "Aaron Lambert"
                  },
                  {
                    "alias": "teamMemberRole",
                    "culture": null,
                    "editorAlias": null,
                    "segment": null,
                    "value": "Business Specialist at Onatrix"
                  }
                ]
              }
            ],
            "settingsData": [],
            "expose": [
              {
                "contentKey": "4b603db3-1321-487c-a21e-c95d2ee68915",
                "culture": null,
                "segment": null
              },
              {
                "contentKey": "86e2d509-b002-41b3-8347-f6d703ae8cc6",
                "culture": null,
                "segment": null
              },
              {
                "contentKey": "bcb741f0-2dc8-4c79-a113-4c71e6a2cb73",
                "culture": null,
                "segment": null
              },
              {
                "contentKey": "08ca1d44-fba0-4894-8a51-26af11c45afe",
                "culture": null,
                "segment": null
              },
              {
                "contentKey": "f08efc91-c43c-4478-bb44-0ff59f6857bd",
                "culture": null,
                "segment": null
              },
              {
                "contentKey": "3a0a6da0-2cc6-448a-96ba-b572cfee3991",
                "culture": null,
                "segment": null
              },
              {
                "contentKey": "1b7f321d-3833-461e-867b-86c213da1bba",
                "culture": null,
                "segment": null
              }
            ],
            "Layout": {
              "Umbraco.BlockList": [
                {
                  "contentKey": "4b603db3-1321-487c-a21e-c95d2ee68915",
                  "contentUdi": null,
                  "settingsKey": null,
                  "settingsUdi": null
                },
                {
                  "contentKey": "86e2d509-b002-41b3-8347-f6d703ae8cc6",
                  "contentUdi": null,
                  "settingsKey": null,
                  "settingsUdi": null
                },
                {
                  "contentKey": "bcb741f0-2dc8-4c79-a113-4c71e6a2cb73",
                  "contentUdi": null,
                  "settingsKey": null,
                  "settingsUdi": null
                },
                {
                  "contentKey": "08ca1d44-fba0-4894-8a51-26af11c45afe",
                  "contentUdi": null,
                  "settingsKey": null,
                  "settingsUdi": null
                },
                {
                  "contentKey": "f08efc91-c43c-4478-bb44-0ff59f6857bd",
                  "contentUdi": null,
                  "settingsKey": null,
                  "settingsUdi": null
                },
                {
                  "contentKey": "3a0a6da0-2cc6-448a-96ba-b572cfee3991",
                  "contentUdi": null,
                  "settingsKey": null,
                  "settingsUdi": null
                },
                {
                  "contentKey": "1b7f321d-3833-461e-867b-86c213da1bba",
                  "contentUdi": null,
                  "settingsKey": null,
                  "settingsUdi": null
                }
              ]
            }
          }
        }
      ]
    }
  ],
  "settingsData": [],
  "expose": [
    {
      "contentKey": "ae62f898-093e-423a-bc82-dd2bef86d54a",
      "culture": null,
      "segment": null
    }
  ],
  "Layout": {
    "Umbraco.BlockList": [
      {
        "contentKey": "ae62f898-093e-423a-bc82-dd2bef86d54a",
        "contentUdi": null,
        "settingsKey": null,
        "settingsUdi": null
      }
    ]
  }
}]]></Value>
    </sections>
  </Properties>
</Content>