<?xml version="1.0" encoding="utf-8"?>
<Content Key="afdbacc3-2bd9-4837-934d-8cdcb696b87f" Alias="Contact" Level="2">
  <Info>
    <Parent Key="7a714f3f-0e6b-4c96-bdb2-646cfd14b80b">Onatrix</Parent>
    <Path>/Onatrix/Contact</Path>
    <Trashed>false</Trashed>
    <ContentType>contactPage</ContentType>
    <CreateDate>2025-10-28T18:09:42</CreateDate>
    <NodeName Default="Contact" />
    <SortOrder>2</SortOrder>
    <Published Default="true" />
    <Schedule />
    <Template Key="38ff3434-581b-4266-a52f-7cef770babd0">ContactPage</Template>
  </Info>
  <Properties>
    <bannerTitle>
      <Value><![CDATA[]]></Value>
    </bannerTitle>
    <informationSection>
      <Value><![CDATA[{
  "contentData": [
    {
      "contentTypeKey": "fa9b7e41-2a21-4e79-a280-2d4154d661ed",
      "key": "298a880b-0b4f-4ae9-948c-ebc0af121cf2",
      "udi": null,
      "values": [
        {
          "alias": "image1",
          "culture": null,
          "editorAlias": null,
          "segment": null,
          "value": [
            {
              "key": "27063b4b-2dee-4e74-b7f2-a77bc02bf2ba",
              "mediaKey": "6de9aeda-f3ed-4be1-aef3-b01139702a83",
              "mediaTypeAlias": "umbracoMediaVectorGraphics",
              "crops": [],
              "focalPoint": null
            }
          ]
        },
        {
          "alias": "dots",
          "culture": null,
          "editorAlias": null,
          "segment": null,
          "value": [
            {
              "key": "2c24dc9d-7df1-4669-a1cb-9acc6419c522",
              "mediaKey": "caa8eb5e-6d64-4681-89e4-328e705b9e88",
              "mediaTypeAlias": "umbracoMediaVectorGraphics",
              "crops": [],
              "focalPoint": null
            }
          ]
        },
        {
          "alias": "headline",
          "culture": null,
          "editorAlias": null,
          "segment": null,
          "value": "Let us know about your next project"
        },
        {
          "alias": "location",
          "culture": null,
          "editorAlias": null,
          "segment": null,
          "value": [
            {
              "key": "857aad21-d251-48bb-8473-a39416a38b87",
              "mediaKey": "ba957e44-5677-4da0-b403-faa696d1e937",
              "mediaTypeAlias": "umbracoMediaVectorGraphics",
              "crops": [],
              "focalPoint": null
            }
          ]
        },
        {
          "alias": "locationText",
          "culture": null,
          "editorAlias": null,
          "segment": null,
          "value": "Office location"
        },
        {
          "alias": "locationTextAddress",
          "culture": null,
          "editorAlias": null,
          "segment": null,
          "value": "Klarabergsviadukten 90, 111 52 Stockholm"
        },
        {
          "alias": "phoneIcon",
          "culture": null,
          "editorAlias": null,
          "segment": null,
          "value": [
            {
              "key": "6575ac39-a5db-4bfb-86e6-7f1ebeec0852",
              "mediaKey": "a103e0f4-73a1-4f5c-9bdf-cbeeeb17ee3e",
              "mediaTypeAlias": "umbracoMediaVectorGraphics",
              "crops": [],
              "focalPoint": null
            }
          ]
        },
        {
          "alias": "phoneText",
          "culture": null,
          "editorAlias": null,
          "segment": null,
          "value": "Phone number"
        },
        {
          "alias": "phoneNumber",
          "culture": null,
          "editorAlias": null,
          "segment": null,
          "value": "\u002B46 8 123 456 75"
        },
        {
          "alias": "emailImage",
          "culture": null,
          "editorAlias": null,
          "segment": null,
          "value": [
            {
              "key": "520eeca9-fcbd-4f76-b234-3fdadc430fc3",
              "mediaKey": "270faa7b-cfa9-4f16-9457-6ed3f89bf3d3",
              "mediaTypeAlias": "umbracoMediaVectorGraphics",
              "crops": [],
              "focalPoint": null
            }
          ]
        },
        {
          "alias": "emailAddressText",
          "culture": null,
          "editorAlias": null,
          "segment": null,
          "value": "E-mail address"
        },
        {
          "alias": "emailText",
          "culture": null,
          "editorAlias": null,
          "segment": null,
          "value": "sales@onatrix.com"
        }
      ]
    },
    {
      "contentTypeKey": "ba9fce22-af07-4fbb-a0e7-0ad2b8dfaa3d",
      "key": "e39c4cf7-cf78-4244-8855-cdd8342bbc33",
      "udi": null,
      "values": [
        {
          "alias": "map",
          "culture": null,
          "editorAlias": null,
          "segment": null,
          "value": [
            {
              "key": "f1237b88-bdb4-4c41-bec7-1ec3344fec4d",
              "mediaKey": "d611976a-9d8d-47bc-8771-925b9d23d634",
              "mediaTypeAlias": "",
              "crops": [],
              "focalPoint": null
            }
          ]
        },
        {
          "alias": "overhead",
          "culture": null,
          "editorAlias": null,
          "segment": null,
          "value": "REQUEST A CALL BACK"
        },
        {
          "alias": "headline",
          "culture": null,
          "editorAlias": null,
          "segment": null,
          "value": "Let us know about your next project"
        },
        {
          "alias": "text1",
          "culture": null,
          "editorAlias": null,
          "segment": null,
          "value": "Lorem ipsum dolor sit amet, consectetur adipiscing elit. Maecenas consectetur, ligula semper sagittis lobortis, eros metus efficitur purus"
        }
      ]
    }
  ],
  "settingsData": [],
  "expose": [
    {
      "contentKey": "298a880b-0b4f-4ae9-948c-ebc0af121cf2",
      "culture": null,
      "segment": null
    },
    {
      "contentKey": "e39c4cf7-cf78-4244-8855-cdd8342bbc33",
      "culture": null,
      "segment": null
    }
  ],
  "Layout": {
    "Umbraco.BlockList": [
      {
        "contentKey": "298a880b-0b4f-4ae9-948c-ebc0af121cf2",
        "contentUdi": null,
        "settingsKey": null,
        "settingsUdi": null
      },
      {
        "contentKey": "e39c4cf7-cf78-4244-8855-cdd8342bbc33",
        "contentUdi": null,
        "settingsKey": null,
        "settingsUdi": null
      }
    ]
  }
}]]></Value>
    </informationSection>
    <pageTitle>
      <Value><![CDATA[Contact Us]]></Value>
    </pageTitle>
    <partnersLogosSections>
      <Value><![CDATA[{
  "contentData": [
    {
      "contentTypeKey": "8b1cb4a4-add4-4b95-b304-ab2553f69c6e",
      "key": "df3a19a2-d1e0-4ad8-8025-710c0eee7f1d",
      "udi": null,
      "values": [
        {
          "alias": "logo1",
          "culture": null,
          "editorAlias": null,
          "segment": null,
          "value": [
            {
              "key": "0b4fd0b1-a27e-43e2-b8f7-edf77723651f",
              "mediaKey": "f9c33560-2987-4203-8bfc-9110e99d1b11",
              "mediaTypeAlias": "umbracoMediaVectorGraphics",
              "crops": [],
              "focalPoint": null
            }
          ]
        },
        {
          "alias": "logo2",
          "culture": null,
          "editorAlias": null,
          "segment": null,
          "value": [
            {
              "key": "d98ad64d-5fdb-40a5-8df3-ce27c8c2cbe3",
              "mediaKey": "850fedea-1a3d-4900-a545-bb558433f185",
              "mediaTypeAlias": "umbracoMediaVectorGraphics",
              "crops": [],
              "focalPoint": null
            }
          ]
        },
        {
          "alias": "logo3",
          "culture": null,
          "editorAlias": null,
          "segment": null,
          "value": [
            {
              "key": "0194f82d-d895-4de1-ac6e-feae6e2e9736",
              "mediaKey": "230e5cd1-3288-4865-b46d-a0bdbac60ddd",
              "mediaTypeAlias": "umbracoMediaVectorGraphics",
              "crops": [],
              "focalPoint": null
            }
          ]
        },
        {
          "alias": "logo4",
          "culture": null,
          "editorAlias": null,
          "segment": null,
          "value": [
            {
              "key": "86514528-a062-48d6-999d-e38532763d82",
              "mediaKey": "4a97c35e-e217-41b4-8e97-7dc00bef10e7",
              "mediaTypeAlias": "umbracoMediaVectorGraphics",
              "crops": [],
              "focalPoint": null
            }
          ]
        },
        {
          "alias": "logo5",
          "culture": null,
          "editorAlias": null,
          "segment": null,
          "value": [
            {
              "key": "371a6afa-3732-47a2-926c-7ba53acdc555",
              "mediaKey": "38acd4fb-2bd5-437a-9972-fbec6b7fe210",
              "mediaTypeAlias": "umbracoMediaVectorGraphics",
              "crops": [],
              "focalPoint": null
            }
          ]
        },
        {
          "alias": "logo6",
          "culture": null,
          "editorAlias": null,
          "segment": null,
          "value": [
            {
              "key": "e0451681-462e-4bca-b0bf-e5afdda5f6f3",
              "mediaKey": "d4614956-79bb-4543-a1a1-8a75bb74d44b",
              "mediaTypeAlias": "umbracoMediaVectorGraphics",
              "crops": [],
              "focalPoint": null
            }
          ]
        }
      ]
    }
  ],
  "settingsData": [],
  "expose": [
    {
      "contentKey": "df3a19a2-d1e0-4ad8-8025-710c0eee7f1d",
      "culture": null,
      "segment": null
    }
  ],
  "Layout": {
    "Umbraco.BlockList": [
      {
        "contentKey": "df3a19a2-d1e0-4ad8-8025-710c0eee7f1d",
        "contentUdi": null,
        "settingsKey": null,
        "settingsUdi": null
      }
    ]
  }
}]]></Value>
    </partnersLogosSections>
  </Properties>
</Content>