<?xml version="1.0" encoding="utf-8"?>
<Content Key="7a714f3f-0e6b-4c96-bdb2-646cfd14b80b" Alias="Home" Level="1">
  <Info>
    <Parent Key="00000000-0000-0000-0000-000000000000"></Parent>
    <Path>/Home</Path>
    <Trashed>false</Trashed>
    <ContentType>homePage</ContentType>
    <CreateDate>2025-10-28T17:16:25</CreateDate>
    <NodeName Default="Home" />
    <SortOrder>0</SortOrder>
    <Published Default="true" />
    <Schedule />
    <Template Key="a118de52-e294-4587-9ea5-b5784db30014">HomePage</Template>
  </Info>
  <Properties>
    <heroBgImage>
      <Value><![CDATA[[
  {
    "key": "cd79da16-e9e8-4980-b378-258ec986786b",
    "mediaKey": "c5616abb-65d1-4a6f-ba75-23ed8d2b3cdd",
    "mediaTypeAlias": "Image",
    "crops": [],
    "focalPoint": null
  }
]]]></Value>
    </heroBgImage>
    <heroLink>
      <Value><![CDATA[[
  {
    "name": "Contact Us",
    "target": null,
    "udi": "umb://document/afdbacc32bd94837934d8cdcb696b87f",
    "url": null,
    "queryString": null
  }
]]]></Value>
    </heroLink>
    <heroText>
      <Value><![CDATA[{
  "blocks": {
    "contentData": [],
    "settingsData": [],
    "expose": [],
    "Layout": {}
  },
  "markup": "\u003Cp\u003ELorem ipsum dolor sit amet, consectetur. adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim\u003C/p\u003E"
}]]></Value>
    </heroText>
    <heroTitle>
      <Value><![CDATA[We bring success to you]]></Value>
    </heroTitle>
    <serviceLabel>
      <Value><![CDATA[Our Services]]></Value>
    </serviceLabel>
    <serviceTitle>
      <Value><![CDATA[{
  "blocks": {
    "contentData": [],
    "settingsData": [],
    "expose": [],
    "Layout": {}
  },
  "markup": "\u003Ch3 style=\u0022text-align: center\u0022\u003E\u003Cspan style=\u0022white-space: pre-wrap;\u0022\u003EWe Provide The Solutions \u003C/span\u003E\u003Cbr\u003E\u003Cspan style=\u0022white-space: pre-wrap;\u0022\u003ETo Grow Your Business Faster\u003C/span\u003E\u003C/h3\u003E\u003Cp\u003E\u003C/p\u003E"
}]]></Value>
    </serviceTitle>
  </Properties>
</Content>