<?xml version="1.0" encoding="utf-8"?>
<Content Key="7a714f3f-0e6b-4c96-bdb2-646cfd14b80b" Alias="Onatrix" Level="1">
  <Info>
    <Parent Key="00000000-0000-0000-0000-000000000000"></Parent>
    <Path>/Onatrix</Path>
    <Trashed>false</Trashed>
    <ContentType>homePage</ContentType>
    <CreateDate>2025-10-28T17:16:25</CreateDate>
    <NodeName Default="Onatrix" />
    <SortOrder>0</SortOrder>
    <Published Default="true" />
    <Schedule />
    <Template Key="a118de52-e294-4587-9ea5-b5784db30014">HomePage</Template>
  </Info>
  <Properties>
    <sections>
      <Value><![CDATA[{
  "contentData": [
    {
      "contentTypeKey": "ecf53312-c18e-4ec8-a29c-2007b38dfabe",
      "key": "34cb7fcb-9601-4c88-a072-634bc57b454f",
      "udi": null,
      "values": [
        {
          "alias": "heroTitle",
          "culture": null,
          "editorAlias": null,
          "segment": null,
          "value": "We bring success to you"
        },
        {
          "alias": "heroText",
          "culture": null,
          "editorAlias": null,
          "segment": null,
          "value": {
            "blocks": {
              "contentData": [],
              "settingsData": [],
              "expose": [],
              "Layout": {}
            },
            "markup": "\u003Cp\u003E\u003Cspan style=\u0022white-space: pre-wrap;\u0022\u003ELorem ipsum dolor sit amet, consectetur. adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim\u003C/span\u003E\u003C/p\u003E"
          }
        },
        {
          "alias": "heroLink",
          "culture": null,
          "editorAlias": null,
          "segment": null,
          "value": [
            {
              "name": "Contact Us",
              "target": null,
              "udi": "umb://document/afdbacc32bd94837934d8cdcb696b87f",
              "url": null,
              "queryString": null
            }
          ]
        },
        {
          "alias": "heroBgImage",
          "culture": null,
          "editorAlias": null,
          "segment": null,
          "value": [
            {
              "key": "6b0f91ee-a469-4933-a6d8-0a320a93aa28",
              "mediaKey": "c5616abb-65d1-4a6f-ba75-23ed8d2b3cdd",
              "mediaTypeAlias": "Image",
              "crops": [],
              "focalPoint": null
            }
          ]
        }
      ]
    },
    {
      "contentTypeKey": "3ac9f38c-66c3-4570-8995-62ec27a3eb3d",
      "key": "873359d9-0491-4342-b7ee-5f834a0c7b60",
      "udi": null,
      "values": [
        {
          "alias": "serviceLabel",
          "culture": null,
          "editorAlias": null,
          "segment": null,
          "value": "Our Services"
        },
        {
          "alias": "serviceTitle",
          "culture": null,
          "editorAlias": null,
          "segment": null,
          "value": {
            "blocks": {
              "contentData": [],
              "settingsData": [],
              "expose": [],
              "Layout": {}
            },
            "markup": "\u003Ch3 style=\u0022text-align: center\u0022\u003E\u003Cspan style=\u0022white-space: pre-wrap;\u0022\u003EWe Provide The Solutions \u003C/span\u003E\u003Cbr\u003E\u003Cspan style=\u0022white-space: pre-wrap;\u0022\u003ETo Grow Your Business Faster\u003C/span\u003E\u003C/h3\u003E\u003Cp\u003E\u003C/p\u003E"
          }
        }
      ]
    }
  ],
  "settingsData": [
    {
      "contentTypeKey": "f1bd1ed5-1b39-4903-a5cd-5cea79a6b9fd",
      "key": "a85271d1-a3d5-4946-a807-f531ec809af6",
      "udi": null,
      "values": [
        {
          "alias": "serviceBgColor",
          "culture": null,
          "editorAlias": null,
          "segment": null,
          "value": {
            "label": "White-100",
            "value": "#f7f7f7"
          }
        },
        {
          "alias": "showServiceLabel",
          "culture": null,
          "editorAlias": null,
          "segment": null,
          "value": "1"
        }
      ]
    }
  ],
  "expose": [
    {
      "contentKey": "34cb7fcb-9601-4c88-a072-634bc57b454f",
      "culture": null,
      "segment": null
    },
    {
      "contentKey": "873359d9-0491-4342-b7ee-5f834a0c7b60",
      "culture": null,
      "segment": null
    }
  ],
  "Layout": {
    "Umbraco.BlockList": [
      {
        "contentKey": "34cb7fcb-9601-4c88-a072-634bc57b454f",
        "contentUdi": null,
        "settingsKey": null,
        "settingsUdi": null
      },
      {
        "contentKey": "873359d9-0491-4342-b7ee-5f834a0c7b60",
        "contentUdi": null,
        "settingsKey": "a85271d1-a3d5-4946-a807-f531ec809af6",
        "settingsUdi": null
      }
    ]
  }
}]]></Value>
    </sections>
  </Properties>
</Content>