<?xml version="1.0" encoding="utf-8"?>
<Content Key="ea1d8f96-d128-448e-8af4-ad9b15e4f617" Alias="Services" Level="2">
  <Info>
    <Parent Key="7a714f3f-0e6b-4c96-bdb2-646cfd14b80b">Onatrix</Parent>
    <Path>/Onatrix/Services</Path>
    <Trashed>false</Trashed>
    <ContentType>servicePage</ContentType>
    <CreateDate>2025-10-30T13:17:28</CreateDate>
    <NodeName Default="Services" />
    <SortOrder>1</SortOrder>
    <Published Default="true" />
    <Schedule />
    <Template Key="68b96a55-cd76-4c78-96dc-d7ab62b63b5a">ServicePage</Template>
  </Info>
  <Properties>
    <pageTitle>
      <Value><![CDATA[Our Services]]></Value>
    </pageTitle>
    <sections>
      <Value><![CDATA[{
  "contentData": [
    {
      "contentTypeKey": "3ac9f38c-66c3-4570-8995-62ec27a3eb3d",
      "key": "9006859b-5434-4bd9-97af-ded5399050a0",
      "udi": null,
      "values": [
        {
          "alias": "serviceLabel",
          "culture": null,
          "editorAlias": null,
          "segment": null,
          "value": "Our Services"
        },
        {
          "alias": "serviceTitle",
          "culture": null,
          "editorAlias": null,
          "segment": null,
          "value": {
            "blocks": {
              "contentData": [],
              "settingsData": [],
              "expose": [],
              "Layout": {}
            },
            "markup": "\u003Ch3 style=\u0022text-align: center\u0022\u003E\u003Cspan style=\u0022white-space: pre-wrap;\u0022\u003EWe Provide The Solutions \u003C/span\u003E\u003Cbr\u003E\u003Cspan style=\u0022white-space: pre-wrap;\u0022\u003ETo Grow Your Business Faster\u003C/span\u003E\u003C/h3\u003E\u003Cp\u003E\u003C/p\u003E"
          }
        }
      ]
    },
    {
      "contentTypeKey": "fa9b7e41-2a21-4e79-a280-2d4154d661ed",
      "key": "ca8a9309-6dcd-4936-b1f4-2f7716cf79d4",
      "udi": null,
      "values": [
        {
          "alias": "image1",
          "culture": null,
          "editorAlias": null,
          "segment": null,
          "value": [
            {
              "key": "a4dfcaeb-0fd8-4500-96f8-45254d500e9f",
              "mediaKey": "6de9aeda-f3ed-4be1-aef3-b01139702a83",
              "mediaTypeAlias": "",
              "crops": [],
              "focalPoint": null
            }
          ]
        },
        {
          "alias": "dots",
          "culture": null,
          "editorAlias": null,
          "segment": null,
          "value": [
            {
              "key": "5a04da51-7aae-4ff9-bbb1-f5fedbdb5b61",
              "mediaKey": "caa8eb5e-6d64-4681-89e4-328e705b9e88",
              "mediaTypeAlias": "",
              "crops": [],
              "focalPoint": null
            }
          ]
        },
        {
          "alias": "headline",
          "culture": null,
          "editorAlias": null,
          "segment": null,
          "value": "Let us know about your next project"
        },
        {
          "alias": "location",
          "culture": null,
          "editorAlias": null,
          "segment": null,
          "value": [
            {
              "key": "903b6443-a1e6-4c59-b8a6-2786eb6f41f6",
              "mediaKey": "ba957e44-5677-4da0-b403-faa696d1e937",
              "mediaTypeAlias": "",
              "crops": [],
              "focalPoint": null
            }
          ]
        },
        {
          "alias": "locationText",
          "culture": null,
          "editorAlias": null,
          "segment": null,
          "value": "Office location"
        },
        {
          "alias": "locationTextAddress",
          "culture": null,
          "editorAlias": null,
          "segment": null,
          "value": "Klarabergsviadukten 90, 111 52 Stockholm"
        },
        {
          "alias": "phoneIcon",
          "culture": null,
          "editorAlias": null,
          "segment": null,
          "value": [
            {
              "key": "642024d3-56fc-4e32-838b-07292c36987d",
              "mediaKey": "a103e0f4-73a1-4f5c-9bdf-cbeeeb17ee3e",
              "mediaTypeAlias": "",
              "crops": [],
              "focalPoint": null
            }
          ]
        },
        {
          "alias": "phoneText",
          "culture": null,
          "editorAlias": null,
          "segment": null,
          "value": "Phone number"
        },
        {
          "alias": "emailAddressText",
          "culture": null,
          "editorAlias": null,
          "segment": null,
          "value": "E-mail address"
        },
        {
          "alias": "emailText",
          "culture": null,
          "editorAlias": null,
          "segment": null,
          "value": "sales@onatrix.com"
        },
        {
          "alias": "phoneNumber",
          "culture": null,
          "editorAlias": null,
          "segment": null,
          "value": "\u002B46 8 123 456 75"
        },
        {
          "alias": "emailImage",
          "culture": null,
          "editorAlias": null,
          "segment": null,
          "value": [
            {
              "key": "8a604afb-9570-4668-82e0-dad2f2a68142",
              "mediaKey": "270faa7b-cfa9-4f16-9457-6ed3f89bf3d3",
              "mediaTypeAlias": "",
              "crops": [],
              "focalPoint": null
            }
          ]
        }
      ]
    }
  ],
  "settingsData": [
    {
      "contentTypeKey": "f1bd1ed5-1b39-4903-a5cd-5cea79a6b9fd",
      "key": "83fe4175-b8c2-425c-92f3-c66766f1fa17",
      "udi": null,
      "values": [
        {
          "alias": "serviceBgColor",
          "culture": null,
          "editorAlias": null,
          "segment": null,
          "value": {
            "label": "White",
            "value": "#ffffff"
          }
        },
        {
          "alias": "showServiceLabel",
          "culture": null,
          "editorAlias": null,
          "segment": null,
          "value": "0"
        }
      ]
    }
  ],
  "expose": [
    {
      "contentKey": "9006859b-5434-4bd9-97af-ded5399050a0",
      "culture": null,
      "segment": null
    },
    {
      "contentKey": "ca8a9309-6dcd-4936-b1f4-2f7716cf79d4",
      "culture": null,
      "segment": null
    }
  ],
  "Layout": {
    "Umbraco.BlockList": [
      {
        "contentKey": "9006859b-5434-4bd9-97af-ded5399050a0",
        "contentUdi": null,
        "settingsKey": "83fe4175-b8c2-425c-92f3-c66766f1fa17",
        "settingsUdi": null
      },
      {
        "contentKey": "ca8a9309-6dcd-4936-b1f4-2f7716cf79d4",
        "contentUdi": null,
        "settingsKey": null,
        "settingsUdi": null
      }
    ]
  }
}]]></Value>
    </sections>
  </Properties>
</Content>