<?xml version="1.0" encoding="utf-8"?>
<Content Key="ea1d8f96-d128-448e-8af4-ad9b15e4f617" Alias="Services" Level="2">
  <Info>
    <Parent Key="7a714f3f-0e6b-4c96-bdb2-646cfd14b80b">Home</Parent>
    <Path>/Home/Services</Path>
    <Trashed>false</Trashed>
    <ContentType>servicePage</ContentType>
    <CreateDate>2025-10-30T13:17:28</CreateDate>
    <NodeName Default="Services" />
    <SortOrder>1</SortOrder>
    <Published Default="true" />
    <Schedule />
    <Template Key="68b96a55-cd76-4c78-96dc-d7ab62b63b5a">ServicePage</Template>
  </Info>
  <Properties />
</Content>