<?xml version="1.0" encoding="utf-8"?>
<Content Key="0c969a16-d788-42af-83d9-0094526dafb9" Alias="Site Settings" Level="1">
  <Info>
    <Parent Key="00000000-0000-0000-0000-000000000000"></Parent>
    <Path>/SiteSettings</Path>
    <Trashed>false</Trashed>
    <ContentType>siteSettings</ContentType>
    <CreateDate>2025-11-04T14:49:00</CreateDate>
    <NodeName Default="Site Settings" />
    <SortOrder>1</SortOrder>
    <Published Default="true" />
    <Schedule />
    <Template />
  </Info>
  <Properties>
    <contactAddress>
      <Value><![CDATA[Klarabergsviadukten 90, 111 52 Stockholm]]></Value>
    </contactAddress>
    <contactEmail>
      <Value><![CDATA[sales@onatrix.com]]></Value>
    </contactEmail>
    <contactPhone>
      <Value><![CDATA[+46 8 123 456 75]]></Value>
    </contactPhone>
    <platformList>
      <Value><![CDATA[{
  "contentData": [
    {
      "contentTypeKey": "3928adcd-fe54-41b7-8854-cf1132e002b4",
      "key": "5a60c410-9f3e-4ad6-a796-7d435c485cfa",
      "udi": null,
      "values": [
        {
          "alias": "platformName",
          "culture": null,
          "editorAlias": null,
          "segment": null,
          "value": [
            "Facebook"
          ]
        },
        {
          "alias": "platformAccountUrl",
          "culture": null,
          "editorAlias": null,
          "segment": null,
          "value": "https://www.facebook.com"
        }
      ]
    },
    {
      "contentTypeKey": "3928adcd-fe54-41b7-8854-cf1132e002b4",
      "key": "36c48bd0-6efc-4307-8c06-51245938af8c",
      "udi": null,
      "values": [
        {
          "alias": "platformName",
          "culture": null,
          "editorAlias": null,
          "segment": null,
          "value": [
            "LinkedIn"
          ]
        },
        {
          "alias": "platformAccountUrl",
          "culture": null,
          "editorAlias": null,
          "segment": null,
          "value": "Https://www.linkedin.com"
        }
      ]
    },
    {
      "contentTypeKey": "3928adcd-fe54-41b7-8854-cf1132e002b4",
      "key": "4a9d6e7e-e7e8-409e-9c05-5e6c295b7090",
      "udi": null,
      "values": [
        {
          "alias": "platformName",
          "culture": null,
          "editorAlias": null,
          "segment": null,
          "value": [
            "X"
          ]
        },
        {
          "alias": "platformAccountUrl",
          "culture": null,
          "editorAlias": null,
          "segment": null,
          "value": "https://www.x.com"
        }
      ]
    },
    {
      "contentTypeKey": "3928adcd-fe54-41b7-8854-cf1132e002b4",
      "key": "e1a079c7-4e5e-46f9-84fc-18c83b0ca7ef",
      "udi": null,
      "values": [
        {
          "alias": "platformName",
          "culture": null,
          "editorAlias": null,
          "segment": null,
          "value": [
            "TikTok"
          ]
        },
        {
          "alias": "platformAccountUrl",
          "culture": null,
          "editorAlias": null,
          "segment": null,
          "value": "https://www.tiktok.com"
        }
      ]
    },
    {
      "contentTypeKey": "3928adcd-fe54-41b7-8854-cf1132e002b4",
      "key": "13ea483e-a9fa-4a91-b384-ab694671b147",
      "udi": null,
      "values": [
        {
          "alias": "platformName",
          "culture": null,
          "editorAlias": null,
          "segment": null,
          "value": [
            "YouTube"
          ]
        },
        {
          "alias": "platformAccountUrl",
          "culture": null,
          "editorAlias": null,
          "segment": null,
          "value": "https://www.youtube.com"
        }
      ]
    }
  ],
  "settingsData": [],
  "expose": [
    {
      "contentKey": "5a60c410-9f3e-4ad6-a796-7d435c485cfa",
      "culture": null,
      "segment": null
    },
    {
      "contentKey": "36c48bd0-6efc-4307-8c06-51245938af8c",
      "culture": null,
      "segment": null
    },
    {
      "contentKey": "4a9d6e7e-e7e8-409e-9c05-5e6c295b7090",
      "culture": null,
      "segment": null
    },
    {
      "contentKey": "e1a079c7-4e5e-46f9-84fc-18c83b0ca7ef",
      "culture": null,
      "segment": null
    },
    {
      "contentKey": "13ea483e-a9fa-4a91-b384-ab694671b147",
      "culture": null,
      "segment": null
    }
  ],
  "Layout": {
    "Umbraco.BlockList": [
      {
        "contentKey": "5a60c410-9f3e-4ad6-a796-7d435c485cfa",
        "contentUdi": null,
        "settingsKey": null,
        "settingsUdi": null
      },
      {
        "contentKey": "36c48bd0-6efc-4307-8c06-51245938af8c",
        "contentUdi": null,
        "settingsKey": null,
        "settingsUdi": null
      },
      {
        "contentKey": "4a9d6e7e-e7e8-409e-9c05-5e6c295b7090",
        "contentUdi": null,
        "settingsKey": null,
        "settingsUdi": null
      },
      {
        "contentKey": "e1a079c7-4e5e-46f9-84fc-18c83b0ca7ef",
        "contentUdi": null,
        "settingsKey": null,
        "settingsUdi": null
      },
      {
        "contentKey": "13ea483e-a9fa-4a91-b384-ab694671b147",
        "contentUdi": null,
        "settingsKey": null,
        "settingsUdi": null
      }
    ]
  }
}]]></Value>
    </platformList>
    <siteLogo>
      <Value><![CDATA[[
  {
    "key": "b17546ce-d4da-4254-a559-92eea303378f",
    "mediaKey": "be93efcb-6e50-485d-a5a3-1db05c604eb3",
    "mediaTypeAlias": "",
    "crops": [],
    "focalPoint": null
  }
]]]></Value>
    </siteLogo>
    <siteName>
      <Value><![CDATA[Onatrix]]></Value>
    </siteName>
  </Properties>
</Content>