<?xml version="1.0" encoding="utf-8"?>
<DataType Key="bed03a82-e5a1-414f-8625-4f64ab87d487" Alias="Contact Page - Information Section - Block List Property Editor UI" Level="1">
  <Info>
    <Name>Contact Page - Information Section - Block List Property Editor UI</Name>
    <EditorAlias>Umbraco.BlockList</EditorAlias>
    <EditorUIAlias>Umb.PropertyEditorUi.BlockList</EditorUIAlias>
  </Info>
  <Config><![CDATA[{
  "blocks": [
    {
      "contentElementTypeKey": "fa9b7e41-2a21-4e79-a280-2d4154d661ed"
    },
    {
      "contentElementTypeKey": "ba9fce22-af07-4fbb-a0e7-0ad2b8dfaa3d"
    }
  ]
}]]></Config>
</DataType>