<?xml version="1.0" encoding="utf-8"?>
<DataType Key="53a96ca1-95e0-4eb4-84e5-482470fead0a" Alias="Contact Page - PartnersLogosSection" Level="1">
  <Info>
    <Name>Contact Page - PartnersLogosSection</Name>
    <EditorAlias>Umbraco.BlockList</EditorAlias>
    <EditorUIAlias>Umb.PropertyEditorUi.BlockList</EditorUIAlias>
  </Info>
  <Config><![CDATA[{}]]></Config>
</DataType>