<?xml version="1.0" encoding="utf-8"?>
<DataType Key="69de0188-ac33-4b9e-abf4-d29ca1697165" Alias="Contact Page - Partners Logos Sections" Level="1">
  <Info>
    <Name>Contact Page - Partners Logos Sections</Name>
    <EditorAlias>Umbraco.BlockList</EditorAlias>
    <EditorUIAlias>Umb.PropertyEditorUi.BlockList</EditorUIAlias>
  </Info>
  <Config><![CDATA[{
  "blocks": [
    {
      "contentElementTypeKey": "8b1cb4a4-add4-4b95-b304-ab2553f69c6e"
    }
  ]
}]]></Config>
</DataType>