<?xml version="1.0" encoding="utf-8"?>
<DataType Key="aeb947fd-42cf-408b-8238-db3e0a9c0177" Alias="Onatrix - Sections" Level="1">
  <Info>
    <Name>Onatrix - Sections</Name>
    <EditorAlias>Umbraco.BlockList</EditorAlias>
    <EditorUIAlias>Umb.PropertyEditorUi.BlockList</EditorUIAlias>
  </Info>
  <Config><![CDATA[{
  "blocks": [
    {
      "contentElementTypeKey": "ecf53312-c18e-4ec8-a29c-2007b38dfabe"
    },
    {
      "contentElementTypeKey": "3ac9f38c-66c3-4570-8995-62ec27a3eb3d",
      "settingsElementTypeKey": "f1bd1ed5-1b39-4903-a5cd-5cea79a6b9fd"
    },
    {
      "contentElementTypeKey": "7bf47a77-83f7-4251-af3e-3cea20646a3f",
      "label": ""
    },
    {
      "contentElementTypeKey": "d4892f54-0147-4ec2-b34b-6a32cc6d8a12",
      "settingsElementTypeKey": "1bf3f8a3-25da-4669-9e75-19697717517d"
    },
    {
      "contentElementTypeKey": "7c897d9d-3b70-474f-815f-438951df6408"
    },
    {
      "contentElementTypeKey": "2ba2a8d2-5acb-41f2-afdf-1f0369fb8c3e"
    },
    {
      "contentElementTypeKey": "8b1cb4a4-add4-4b95-b304-ab2553f69c6e"
    },
    {
      "contentElementTypeKey": "977ca0c8-2255-4b72-b90e-b6acb39a2f87"
    }
  ]
}]]></Config>
</DataType>