<?xml version="1.0" encoding="utf-8"?>
<DataType Key="1afe6143-023a-49b0-9170-7839b4f69be2" Alias="Service Page - InformationSection" Level="1">
  <Info>
    <Name>Service Page - InformationSection</Name>
    <EditorAlias>Umbraco.BlockList</EditorAlias>
    <EditorUIAlias>Umb.PropertyEditorUi.BlockList</EditorUIAlias>
  </Info>
  <Config><![CDATA[{}]]></Config>
</DataType>