<?xml version="1.0" encoding="utf-8"?>
<DataType Key="bb40d6c1-2f6f-4815-8744-c6d2bdc8ba21" Alias=" Service Detail Asides - List" Level="1">
  <Info>
    <Name> Service Detail Asides - List</Name>
    <EditorAlias>Umbraco.BlockList</EditorAlias>
    <EditorUIAlias>Umb.PropertyEditorUi.BlockList</EditorUIAlias>
  </Info>
  <Config><![CDATA[{
  "blocks": [
    {
      "contentElementTypeKey": "1cbb0634-6275-43a8-af34-693c94d0c4c5"
    }
  ]
}]]></Config>
</DataType>