<?xml version="1.0" encoding="utf-8"?>
<DataType Key="d5b7456e-9641-42f2-8816-5413e187e87d" Alias="Site Settings - Platform List" Level="1">
  <Info>
    <Name>Site Settings - Platform List</Name>
    <EditorAlias>Umbraco.BlockList</EditorAlias>
    <EditorUIAlias>Umb.PropertyEditorUi.BlockList</EditorUIAlias>
  </Info>
  <Config><![CDATA[{
  "blocks": [
    {
      "contentElementTypeKey": "3928adcd-fe54-41b7-8854-cf1132e002b4",
      "label": "{umbValue: platformName}"
    }
  ]
}]]></Config>
</DataType>