<?xml version="1.0" encoding="utf-8"?>
<DataType Key="393773a7-8e9d-407f-9306-2ff52352913f" Alias="Team Member List" Level="1">
  <Info>
    <Name>Team Member List</Name>
    <EditorAlias>Umbraco.BlockList</EditorAlias>
    <EditorUIAlias>Umb.PropertyEditorUi.BlockList</EditorUIAlias>
  </Info>
  <Config><![CDATA[{
  "blocks": [
    {
      "contentElementTypeKey": "9f5aaab6-12fc-4fbd-8e2d-dc5a921770fd",
      "label": "{umbValue: teamMemberName}",
      "editorSize": ""
    }
  ]
}]]></Config>
</DataType>