@using Umbraco.Cms.Web.Common.PublishedModels;
<<<<<<< HEAD
@inherits Umbraco.Cms.Web.Common.Views.UmbracoViewPage
@{
	Layout = "mainLayout.cshtml";
}


<h1>Hello World!</h1>
=======
@inherits Umbraco.Cms.Web.Common.Views.UmbracoViewPage<ServicePage>
@{
	Layout = "mainLayout.cshtml";
}
<partial name="Partials/Sections/_ServiceSection" />
>>>>>>> feature/home-page
